-- USE [TravelApp]
-- GO
-- /****** Object:  Table [dbo].[GuideExperiences]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[GuideExperiences](
-- 	[Id] [int] IDENTITY(1,1) NOT NULL,
-- 	[GuideId] [int] NULL,
-- 	[Title] [nvarchar](200) NULL,
-- 	[Location] [nvarchar](200) NULL,
-- 	[ExperienceDate] [date] NULL,
-- 	[Likes] [int] NULL,
-- 	[ImageLeftUrl] [nvarchar](500) NULL,
-- 	[ImageTopRightUrl] [nvarchar](500) NULL,
-- 	[ImageBottomRightUrl] [nvarchar](500) NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[Id] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY]
-- GO
-- /****** Object:  Table [dbo].[GuideLanguages]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[GuideLanguages](
-- 	[Id] [int] IDENTITY(1,1) NOT NULL,
-- 	[GuideId] [int] NULL,
-- 	[Language] [nvarchar](50) NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[Id] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY]
-- GO
-- /****** Object:  Table [dbo].[GuideReviews]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[GuideReviews](
-- 	[Id] [int] IDENTITY(1,1) NOT NULL,
-- 	[GuideId] [int] NULL,
-- 	[Name] [nvarchar](100) NULL,
-- 	[Rating] [float] NULL,
-- 	[Comment] [nvarchar](max) NULL,
-- 	[AvatarUrl] [nvarchar](500) NULL,
-- 	[ReviewDate] [date] NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[Id] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
-- GO
-- /****** Object:  Table [dbo].[Guides]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[Guides](
-- 	[Id] [int] IDENTITY(1,1) NOT NULL,
-- 	[Name] [nvarchar](100) NOT NULL,
-- 	[Location] [nvarchar](200) NOT NULL,
-- 	[Description] [nvarchar](max) NULL,
-- 	[ImageUrl] [nvarchar](500) NULL,
-- 	[Reviews] [int] NULL,
-- 	[PricePerHour] [decimal](10, 2) NULL,
-- 	[CreatedAt] [datetime] NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[Id] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
-- GO
-- /****** Object:  Table [dbo].[TourImages]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[TourImages](
-- 	[ImageID] [int] IDENTITY(1,1) NOT NULL,
-- 	[TourID] [int] NULL,
-- 	[ImageUrl] [nvarchar](500) NOT NULL,
-- 	[SortOrder] [int] NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[ImageID] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY]
-- GO
-- /****** Object:  Table [dbo].[TourPricing]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[TourPricing](
-- 	[PricingID] [int] IDENTITY(1,1) NOT NULL,
-- 	[TourID] [int] NULL,
-- 	[Label] [nvarchar](100) NULL,
-- 	[Price] [decimal](10, 2) NOT NULL,
-- 	[IsFree] [bit] NULL,
-- 	[SortOrder] [int] NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[PricingID] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY]
-- GO
-- /****** Object:  Table [dbo].[Tours]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[Tours](
-- 	[TourID] [int] IDENTITY(1,1) NOT NULL,
-- 	[Title] [nvarchar](255) NOT NULL,
-- 	[Description] [nvarchar](max) NULL,
-- 	[Price] [decimal](10, 2) NOT NULL,
-- 	[OriginalPrice] [decimal](10, 2) NULL,
-- 	[Duration] [nvarchar](50) NULL,
-- 	[DepartureDate] [date] NULL,
-- 	[DeparturePlace] [nvarchar](255) NULL,
-- 	[Itinerary] [nvarchar](500) NULL,
-- 	[ProviderName] [nvarchar](255) NULL,
-- 	[Rating] [decimal](3, 1) NULL,
-- 	[TotalLikes] [int] NULL,
-- 	[TotalReviews] [int] NULL,
-- 	[CoverImageUrl] [nvarchar](500) NULL,
-- 	[IsActive] [bit] NULL,
-- 	[CreatedAt] [datetime] NULL,
-- 	[UpdatedAt] [datetime] NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[TourID] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
-- GO
-- /****** Object:  Table [dbo].[TourScheduleItems]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[TourScheduleItems](
-- 	[ItemID] [int] IDENTITY(1,1) NOT NULL,
-- 	[ScheduleID] [int] NULL,
-- 	[TimeSlot] [nvarchar](20) NULL,
-- 	[Description] [nvarchar](max) NOT NULL,
-- 	[SortOrder] [int] NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[ItemID] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
-- GO
-- /****** Object:  Table [dbo].[TourSchedules]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[TourSchedules](
-- 	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
-- 	[TourID] [int] NULL,
-- 	[DayNumber] [int] NOT NULL,
-- 	[RouteLabel] [nvarchar](255) NULL,
-- 	[SortOrder] [int] NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[ScheduleID] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY]
-- GO
-- /****** Object:  Table [dbo].[Users]    Script Date: 23/04/2026 11:46:46 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[Users](
-- 	[id] [int] IDENTITY(1,1) NOT NULL,
-- 	[FirstName] [nvarchar](50) NULL,
-- 	[LastName] [nvarchar](50) NULL,
-- 	[Email] [nvarchar](100) NULL,
-- 	[Password] [nvarchar](255) NULL,
-- 	[Role] [nvarchar](20) NULL,
-- 	[Country] [nvarchar](50) NULL,
-- PRIMARY KEY CLUSTERED 
-- (
-- 	[id] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- ) ON [PRIMARY]
-- GO
-- SET IDENTITY_INSERT [dbo].[TourImages] ON 

-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (1, 4, N'assets/images/tours/phuquoc_1.png', 1)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (2, 4, N'assets/images/tours/phuquoc_2.png', 2)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (3, 4, N'assets/images/tours/phuquoc_3.png', 3)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (4, 5, N'assets/images/tours/sapa_1.png', 1)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (5, 5, N'assets/images/tours/sapa_2.png', 2)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (6, 5, N'assets/images/tours/sapa_3.png', 3)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (7, 6, N'assets/images/tours/nhatrang_1.png', 1)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (8, 6, N'assets/images/tours/nhatrang_2.png', 2)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (9, 6, N'assets/images/tours/nhatrang_3.png', 3)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (10, 7, N'assets/images/tours/bangkok_1.png', 1)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (11, 7, N'assets/images/tours/bangkok_2.png', 2)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (12, 7, N'assets/images/tours/bangkok_3.png', 3)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (13, 8, N'assets/images/tours/singapore_1.png', 1)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (14, 8, N'assets/images/tours/singapore_2.png', 2)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (15, 8, N'assets/images/tours/singapore_3.png', 3)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (16, 9, N'assets/images/tours/dalat_1.png', 1)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (17, 9, N'assets/images/tours/dalat_2.png', 2)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (18, 9, N'assets/images/tours/dalat_3.png', 3)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (19, 10, N'assets/images/tours/mekong_1.png', 1)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (20, 10, N'assets/images/tours/mekong_2.png', 2)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (21, 10, N'assets/images/tours/mekong_3.png', 3)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (22, 11, N'assets/images/tours/bali_1.png', 1)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (23, 11, N'assets/images/tours/bali_2.png', 2)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (24, 11, N'assets/images/tours/bali_3.png', 3)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (25, 12, N'assets/images/tours/seoul_1.png', 1)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (26, 12, N'assets/images/tours/seoul_2.png', 2)
-- INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (27, 12, N'assets/images/tours/seoul_3.png', 3)
-- SET IDENTITY_INSERT [dbo].[TourImages] OFF
-- GO
-- SET IDENTITY_INSERT [dbo].[TourPricing] ON 

-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (1, 1, N'Adult (>10 years old)', CAST(400.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (2, 1, N'Child (5 - 10 years old)', CAST(320.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (3, 1, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (4, 4, N'Adult (>10 years old)', CAST(550.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (5, 4, N'Child (5 - 10 years old)', CAST(440.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (6, 4, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (7, 5, N'Adult (>10 years old)', CAST(480.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (8, 5, N'Child (5 - 10 years old)', CAST(384.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (9, 5, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (10, 6, N'Adult (>10 years old)', CAST(420.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (11, 6, N'Child (5 - 10 years old)', CAST(336.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (12, 6, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (13, 7, N'Adult (>10 years old)', CAST(520.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (14, 7, N'Child (5 - 10 years old)', CAST(416.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (15, 7, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (16, 8, N'Adult (>10 years old)', CAST(750.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (17, 8, N'Child (5 - 10 years old)', CAST(600.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (18, 8, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (19, 9, N'Adult (>10 years old)', CAST(350.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (20, 9, N'Child (5 - 10 years old)', CAST(280.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (21, 9, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (22, 10, N'Adult (>10 years old)', CAST(280.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (23, 10, N'Child (5 - 10 years old)', CAST(224.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (24, 10, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (25, 11, N'Adult (>10 years old)', CAST(680.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (26, 11, N'Child (5 - 10 years old)', CAST(544.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (27, 11, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (28, 12, N'Adult (>10 years old)', CAST(920.00 AS Decimal(10, 2)), 0, 1)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (29, 12, N'Child (5 - 10 years old)', CAST(736.00 AS Decimal(10, 2)), 0, 2)
-- INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (30, 12, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
-- SET IDENTITY_INSERT [dbo].[TourPricing] OFF
-- GO
-- SET IDENTITY_INSERT [dbo].[Tours] ON 

-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Da Nang - Ba Na - Hoi An', NULL, CAST(400.00 AS Decimal(10, 2)), CAST(460.00 AS Decimal(10, 2)), N'2 days, 2 nights', CAST(N'2020-02-12' AS Date), N'Ho Chi Minh', N'Da Nang - Ba Na - Hoi An', N'dulichviet', CAST(4.5 AS Decimal(3, 1)), 1247, 0, N'assets/images/explore/FeaturedTours/GrandSunriseBoutique.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Melbourne - Sydney', NULL, CAST(600.00 AS Decimal(10, 2)), NULL, N'3 days', CAST(N'2020-01-30' AS Date), N'Melbourne', N'Melbourne - Sydney', N'aussieguide', CAST(4.0 AS Decimal(3, 1)), 1047, 0, N'assets/images/explore/FeaturedTours/OperaSydney.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Hanoi - Ha Long Bay', NULL, CAST(300.00 AS Decimal(10, 2)), NULL, N'3 days', CAST(N'2020-01-30' AS Date), N'Hanoi', N'Hanoi - Ha Long Bay', N'vietnamtour', CAST(5.0 AS Decimal(3, 1)), 1247, 0, N'assets/images/explore/FeaturedTours/HaLongBay.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (4, N'Phu Quoc - Pearl Island', NULL, CAST(550.00 AS Decimal(10, 2)), CAST(650.00 AS Decimal(10, 2)), N'3 days, 2 nights', CAST(N'2020-03-15' AS Date), N'Ho Chi Minh', N'Phu Quoc - Pearl Island', N'dulichviet', CAST(4.8 AS Decimal(3, 1)), 2150, 0, N'assets/images/explore/FeaturedTours/PhuQuoc.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (5, N'Sapa - Fansipan Summit', NULL, CAST(480.00 AS Decimal(10, 2)), CAST(580.00 AS Decimal(10, 2)), N'3 days, 2 nights', CAST(N'2020-02-20' AS Date), N'Hanoi', N'Sapa - Fansipan Summit', N'vietnamtour', CAST(4.6 AS Decimal(3, 1)), 1890, 0, N'assets/images/explore/FeaturedTours/Sapa.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (6, N'Nha Trang Beach Paradise', NULL, CAST(420.00 AS Decimal(10, 2)), NULL, N'4 days, 3 nights', CAST(N'2020-03-05' AS Date), N'Ho Chi Minh', N'Nha Trang Beach Paradise', N'dulichviet', CAST(4.4 AS Decimal(3, 1)), 1650, 0, N'assets/images/explore/FeaturedTours/NhaTrang.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (7, N'Bangkok - Pattaya Explorer', NULL, CAST(520.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(10, 2)), N'4 days, 3 nights', CAST(N'2020-02-25' AS Date), N'Ho Chi Minh', N'Bangkok - Pattaya Explorer', N'thaitravelco', CAST(4.3 AS Decimal(3, 1)), 1420, 0, N'assets/images/explore/FeaturedTours/Bangkok.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (8, N'Singapore Garden City', NULL, CAST(750.00 AS Decimal(10, 2)), NULL, N'4 days, 3 nights', CAST(N'2020-03-10' AS Date), N'Ho Chi Minh', N'Singapore Garden City', N'asiapacific', CAST(4.7 AS Decimal(3, 1)), 2340, 0, N'assets/images/explore/FeaturedTours/Singapore.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (9, N'Dalat - City of Flowers', NULL, CAST(350.00 AS Decimal(10, 2)), CAST(400.00 AS Decimal(10, 2)), N'2 days, 1 night', CAST(N'2020-02-28' AS Date), N'Ho Chi Minh', N'Dalat - City of Flowers', N'dulichviet', CAST(4.5 AS Decimal(3, 1)), 1580, 0, N'assets/images/explore/FeaturedTours/Dalat.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (10, N'Mekong Delta Discovery', NULL, CAST(280.00 AS Decimal(10, 2)), NULL, N'2 days, 1 night', CAST(N'2020-03-01' AS Date), N'Ho Chi Minh', N'Mekong Delta Discovery', N'dulichviet', CAST(4.2 AS Decimal(3, 1)), 980, 0, N'assets/images/explore/FeaturedTours/MekongDelta.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (11, N'Bali Island Paradise', NULL, CAST(680.00 AS Decimal(10, 2)), CAST(780.00 AS Decimal(10, 2)), N'5 days, 4 nights', CAST(N'2020-03-12' AS Date), N'Ho Chi Minh', N'Bali Island Paradise', N'indonesiatravel', CAST(4.9 AS Decimal(3, 1)), 2850, 0, N'assets/images/explore/FeaturedTours/Bali.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- INSERT [dbo].[Tours] ([TourID], [Title], [Description], [Price], [OriginalPrice], [Duration], [DepartureDate], [DeparturePlace], [Itinerary], [ProviderName], [Rating], [TotalLikes], [TotalReviews], [CoverImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (12, N'Seoul - Jeju Island', NULL, CAST(920.00 AS Decimal(10, 2)), NULL, N'5 days, 4 nights', CAST(N'2020-03-18' AS Date), N'Ho Chi Minh', N'Seoul - Jeju Island', N'koreatour', CAST(4.6 AS Decimal(3, 1)), 2120, 0, N'assets/images/explore/FeaturedTours/Seoul.png', 1, CAST(N'2026-04-21T22:34:15.713' AS DateTime), CAST(N'2026-04-21T22:34:15.713' AS DateTime))
-- SET IDENTITY_INSERT [dbo].[Tours] OFF
-- GO
-- SET IDENTITY_INSERT [dbo].[TourScheduleItems] ON 

-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (1, 1, N'6:00AM', N'Khởi hành từ TP.HCM đến Đà Nẵng', 1)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (2, 1, N'10:00AM', N'Tham quan Bà Nà Hills', 2)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (3, 1, N'1:00PM', N'Ăn trưa và nghỉ ngơi', 3)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (4, 1, N'8:00PM', N'Check-in khách sạn', 4)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (5, 3, N'7:00AM', N'Khởi hành từ TP.HCM đến Phú Quốc', 1)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (6, 3, N'9:00AM', N'Đến Phú Quốc, check-in khách sạn', 2)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (7, 3, N'2:00PM', N'Tham quan Bãi Sao và Hòn Thơm', 3)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (8, 3, N'7:00PM', N'Ăn tối hải sản tươi sống', 4)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (9, 4, N'8:00AM', N'Tham quan Vinpearl Safari', 1)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (10, 4, N'12:00PM', N'Ăn trưa và nghỉ ngơi', 2)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (11, 4, N'3:00PM', N'Khám phá chợ đêm Phú Quốc', 3)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (12, 6, N'6:00AM', N'Khởi hành từ Hà Nội đi Sapa', 1)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (13, 6, N'12:00PM', N'Đến Sapa, ăn trưa và check-in', 2)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (14, 6, N'3:00PM', N'Tham quan thác Bạc và Cầu Mây', 3)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (15, 7, N'6:00AM', N'Chinh phục đỉnh Fansipan', 1)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (16, 7, N'12:00PM', N'Ăn trưa tại nhà hàng trên núi', 2)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (17, 7, N'4:00PM', N'Khám phá bản Cát Cát', 3)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (18, 13, N'6:00AM', N'Khởi hành từ TP.HCM đến Đà Lạt', 1)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (19, 13, N'12:00PM', N'Đến Đà Lạt, tham quan Hồ Xuân Hương', 2)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (20, 13, N'3:00PM', N'Thăm Vườn Hoa Đà Lạt', 3)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (21, 13, N'7:00PM', N'Khám phá chợ đêm Đà Lạt', 4)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (22, 15, N'7:00AM', N'Khởi hành đến Đồng bằng sông Cửu Long', 1)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (23, 15, N'10:00AM', N'Tham quan chợ nổi Cái Răng', 2)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (24, 15, N'2:00PM', N'Thăm vườn trái cây', 3)
-- INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (25, 15, N'6:00PM', N'Thưởng thức đờn ca tài tử', 4)
-- SET IDENTITY_INSERT [dbo].[TourScheduleItems] OFF
-- GO
-- SET IDENTITY_INSERT [dbo].[TourSchedules] ON 

-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (1, 1, 1, N'Ho Chi Minh - Da Nang', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (2, 1, 2, N'Da Nang - Hoi An', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (3, 4, 1, N'Ho Chi Minh - Phu Quoc', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (4, 4, 2, N'Phu Quoc Island Tour', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (5, 4, 3, N'Phu Quoc - Ho Chi Minh', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (6, 5, 1, N'Hanoi - Sapa', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (7, 5, 2, N'Sapa - Fansipan', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (8, 5, 3, N'Sapa - Hanoi', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (9, 6, 1, N'Ho Chi Minh - Nha Trang', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (10, 6, 2, N'Nha Trang Islands', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (11, 6, 3, N'Nha Trang City Tour', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (12, 6, 4, N'Nha Trang - Ho Chi Minh', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (13, 9, 1, N'Ho Chi Minh - Dalat', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (14, 9, 2, N'Dalat - Ho Chi Minh', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (15, 10, 1, N'Ho Chi Minh - Mekong Delta', 0)
-- INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (16, 10, 2, N'Mekong Delta - Ho Chi Minh', 0)
-- SET IDENTITY_INSERT [dbo].[TourSchedules] OFF
-- GO
-- SET IDENTITY_INSERT [dbo].[Users] ON 

-- INSERT [dbo].[Users] ([id], [FirstName], [LastName], [Email], [Password], [Role], [Country]) VALUES (1, N'a', N'a', N'a', N'a', N'Traveler', N'a')
-- INSERT [dbo].[Users] ([id], [FirstName], [LastName], [Email], [Password], [Role], [Country]) VALUES (2, N'v', N'v', N'v', N'v', N'Traveler', N'v')
-- SET IDENTITY_INSERT [dbo].[Users] OFF
-- GO
-- SET ANSI_PADDING ON
-- GO
-- /****** Object:  Index [UQ__Users__A9D105344D313358]    Script Date: 23/04/2026 11:46:46 CH ******/
-- ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
-- (
-- 	[Email] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
-- GO
-- ALTER TABLE [dbo].[GuideExperiences] ADD  DEFAULT ((0)) FOR [Likes]
-- GO
-- ALTER TABLE [dbo].[Guides] ADD  DEFAULT ((0)) FOR [Reviews]
-- GO
-- ALTER TABLE [dbo].[Guides] ADD  DEFAULT (getdate()) FOR [CreatedAt]
-- GO
-- ALTER TABLE [dbo].[TourImages] ADD  DEFAULT ((0)) FOR [SortOrder]
-- GO
-- ALTER TABLE [dbo].[TourPricing] ADD  DEFAULT ((0)) FOR [IsFree]
-- GO
-- ALTER TABLE [dbo].[TourPricing] ADD  DEFAULT ((0)) FOR [SortOrder]
-- GO
-- ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [Rating]
-- GO
-- ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [TotalLikes]
-- GO
-- ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [TotalReviews]
-- GO
-- ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((1)) FOR [IsActive]
-- GO
-- ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [CreatedAt]
-- GO
-- ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
-- GO
-- ALTER TABLE [dbo].[TourScheduleItems] ADD  DEFAULT ((0)) FOR [SortOrder]
-- GO
-- ALTER TABLE [dbo].[TourSchedules] ADD  DEFAULT ((0)) FOR [SortOrder]
-- GO
-- ALTER TABLE [dbo].[GuideExperiences]  WITH CHECK ADD FOREIGN KEY([GuideId])
-- REFERENCES [dbo].[Guides] ([Id])
-- GO
-- ALTER TABLE [dbo].[GuideLanguages]  WITH CHECK ADD FOREIGN KEY([GuideId])
-- REFERENCES [dbo].[Guides] ([Id])
-- GO
-- ALTER TABLE [dbo].[GuideReviews]  WITH CHECK ADD FOREIGN KEY([GuideId])
-- REFERENCES [dbo].[Guides] ([Id])
-- GO
-- ALTER TABLE [dbo].[TourImages]  WITH CHECK ADD FOREIGN KEY([TourID])
-- REFERENCES [dbo].[Tours] ([TourID])
-- ON DELETE CASCADE
-- GO
-- ALTER TABLE [dbo].[TourPricing]  WITH CHECK ADD FOREIGN KEY([TourID])
-- REFERENCES [dbo].[Tours] ([TourID])
-- ON DELETE CASCADE
-- GO
-- ALTER TABLE [dbo].[TourScheduleItems]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
-- REFERENCES [dbo].[TourSchedules] ([ScheduleID])
-- ON DELETE CASCADE
-- GO
-- ALTER TABLE [dbo].[TourSchedules]  WITH CHECK ADD FOREIGN KEY([TourID])
-- REFERENCES [dbo].[Tours] ([TourID])
-- ON DELETE CASCADE
-- GO
