USE [TravelApp]
GO
/****** Object:  Table [dbo].[GuideExperiences]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideExperiences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuideId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Location] [nvarchar](200) NULL,
	[ExperienceDate] [date] NULL,
	[Likes] [int] NULL,
	[ImageLeftUrl] [nvarchar](500) NULL,
	[ImageTopRightUrl] [nvarchar](500) NULL,
	[ImageBottomRightUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideLanguages]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideLanguages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuideId] [int] NULL,
	[Language] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideReviews]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuideId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Rating] [float] NULL,
	[Comment] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[ReviewDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guides]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guides](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Reviews] [int] NULL,
	[PricePerHour] [decimal](10, 2) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourImages]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourPricing]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourPricing](
	[PricingID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NULL,
	[Label] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsFree] [bit] NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PricingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[OriginalPrice] [decimal](10, 2) NULL,
	[Duration] [nvarchar](50) NULL,
	[DepartureDate] [date] NULL,
	[DeparturePlace] [nvarchar](255) NULL,
	[Itinerary] [nvarchar](500) NULL,
	[ProviderName] [nvarchar](255) NULL,
	[Rating] [decimal](3, 1) NULL,
	[TotalLikes] [int] NULL,
	[TotalReviews] [int] NULL,
	[CoverImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourScheduleItems]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourScheduleItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NULL,
	[TimeSlot] [nvarchar](20) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourSchedules]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourSchedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NULL,
	[DayNumber] [int] NOT NULL,
	[RouteLabel] [nvarchar](255) NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/04/2026 11:46:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NULL,
	[Country] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TourImages] ON 

INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (1, 4, N'assets/images/tours/phuquoc_1.png', 1)
INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (2, 4, N'assets/images/tours/phuquoc_2.png', 2)
INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (3, 4, N'assets/images/tours/phuquoc_3.png', 3)
SET IDENTITY_INSERT [dbo].[TourImages] OFF
GO
SET IDENTITY_INSERT [dbo].[TourPricing] ON 

INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (1, 1, N'Adult (>10 years old)', CAST(400.00 AS Decimal(10, 2)), 0, 1)
INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (2, 1, N'Child (5 - 10 years old)', CAST(320.00 AS Decimal(10, 2)), 0, 2)
INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (3, 1, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
SET IDENTITY_INSERT [dbo].[TourPricing] OFF
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[TourScheduleItems] ON 

INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (1, 1, N'6:00AM', N'Khởi hành từ TP.HCM đến Đà Nẵng', 1)
INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (2, 1, N'10:00AM', N'Tham quan Bà Nà Hills', 2)
INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (3, 1, N'1:00PM', N'Ăn trưa và nghỉ ngơi', 3)
SET IDENTITY_INSERT [dbo].[TourScheduleItems] OFF
GO
SET IDENTITY_INSERT [dbo].[TourSchedules] ON 

INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (1, 1, 1, N'Ho Chi Minh - Da Nang', 0)
INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (2, 1, 2, N'Da Nang - Hoi An', 0)
INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (3, 4, 1, N'Ho Chi Minh - Phu Quoc', 0)
SET IDENTITY_INSERT [dbo].[TourSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [FirstName], [LastName], [Email], [Password], [Role], [Country]) VALUES (1, N'a', N'a', N'a', N'a', N'Traveler', N'a')
INSERT [dbo].[Users] ([id], [FirstName], [LastName], [Email], [Password], [Role], [Country]) VALUES (2, N'v', N'v', N'v', N'v', N'Traveler', N'v')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105344D313358]    Script Date: 23/04/2026 11:46:46 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GuideExperiences] ADD  DEFAULT ((0)) FOR [Likes]
GO
ALTER TABLE [dbo].[Guides] ADD  DEFAULT ((0)) FOR [Reviews]
GO
ALTER TABLE [dbo].[Guides] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TourImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TourPricing] ADD  DEFAULT ((0)) FOR [IsFree]
GO
ALTER TABLE [dbo].[TourPricing] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [TotalLikes]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [TotalReviews]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TourScheduleItems] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TourSchedules] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[GuideExperiences]  WITH CHECK ADD FOREIGN KEY([GuideId])
REFERENCES [dbo].[Guides] ([Id])
GO
ALTER TABLE [dbo].[GuideLanguages]  WITH CHECK ADD FOREIGN KEY([GuideId])
REFERENCES [dbo].[Guides] ([Id])
GO
ALTER TABLE [dbo].[GuideReviews]  WITH CHECK ADD FOREIGN KEY([GuideId])
REFERENCES [dbo].[Guides] ([Id])
GO
ALTER TABLE [dbo].[TourImages]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourPricing]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourScheduleItems]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[TourSchedules] ([ScheduleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourSchedules]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
