USE [TravelApp]
GO
/****** Object:  Table [dbo].[Attractions]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attractions](
	[AttractionID] [int] IDENTITY(1,1) NOT NULL,
	[LocationID] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttractionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingAttractions]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingAttractions](
	[BookingID] [int] NOT NULL,
	[AttractionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC,
	[AttractionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TourID] [int] NOT NULL,
	[GuideID] [int] NULL,
	[BookingDate] [datetime] NOT NULL,
	[TourDate] [date] NOT NULL,
	[NumberOfPeople] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[TimeFrom] [time](7) NULL,
	[TimeTo] [time](7) NULL,
	[BidStatus] [nvarchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideExperienceImages]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideExperienceImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ExperienceID] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[ImagePosition] [nvarchar](50) NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideExperiences]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideExperiences](
	[ExperienceID] [int] IDENTITY(1,1) NOT NULL,
	[GuideID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
	[Date] [date] NULL,
	[Likes] [int] NULL,
	[IsLiked] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExperienceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideLanguages]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideLanguages](
	[LanguageID] [int] IDENTITY(1,1) NOT NULL,
	[GuideID] [int] NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuidePricing]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuidePricing](
	[PricingID] [int] IDENTITY(1,1) NOT NULL,
	[GuideID] [int] NOT NULL,
	[GroupLabel] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PricingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideReviews]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[GuideID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Date] [date] NULL,
	[Rating] [decimal](3, 1) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guides]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guides](
	[GuideID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
	[Avatar] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Reviews] [int] NULL,
	[Rating] [decimal](3, 1) NULL,
	[TotalLikes] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Background] [nvarchar](500) NULL,
	[UserID] [int] NULL,
	[LocationID] [int] NULL,
	[Languages] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[GuideID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Latitude] [decimal](10, 7) NULL,
	[Longitude] [decimal](10, 7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[OfferID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[GuideID] [int] NOT NULL,
	[FeeOffer] [decimal](10, 2) NOT NULL,
	[Message] [nvarchar](500) NULL,
	[IsChosen] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TransactionID] [nvarchar](255) NULL,
	[PaidAt] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[CardHolder] [nvarchar](100) NULL,
	[CardNumber] [nvarchar](20) NULL,
	[PaidAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourImages]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourPricing]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourPricing](
	[PricingID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NULL,
	[Label] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsFree] [bit] NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PricingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourReviews]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [decimal](3, 1) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Date] [date] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[OriginalPrice] [decimal](10, 2) NULL,
	[Duration] [nvarchar](50) NULL,
	[DepartureDate] [date] NULL,
	[DeparturePlace] [nvarchar](255) NULL,
	[Itinerary] [nvarchar](500) NULL,
	[ProviderName] [nvarchar](255) NULL,
	[Rating] [decimal](3, 1) NULL,
	[TotalLikes] [int] NULL,
	[TotalReviews] [int] NULL,
	[CoverImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[UserID] [int] NULL,
	[GuideID] [int] NULL,
	[LocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourScheduleItems]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourScheduleItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NULL,
	[TimeSlot] [nvarchar](20) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourSchedules]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourSchedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NULL,
	[DayNumber] [int] NOT NULL,
	[RouteLabel] [nvarchar](255) NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[travel_news]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[travel_news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[publish_date] [date] NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[summary] [nvarchar](300) NULL,
	[view_count] [int] NULL,
	[is_featured] [bit] NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[travel_news_detail]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[travel_news_detail](
	[news_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[author] [nvarchar](100) NULL,
	[tags] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFavorites]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavorites](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[ItemID] [int] NOT NULL,
	[SavedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLikes]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikes](
	[LikeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ExperienceID] [int] NOT NULL,
	[LikedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/05/2026 3:56:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NULL,
	[Country] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attractions] ON 

INSERT [dbo].[Attractions] ([AttractionID], [LocationID], [Name], [ImageUrl]) VALUES (1, 1, N'Ho Guom', NULL)
INSERT [dbo].[Attractions] ([AttractionID], [LocationID], [Name], [ImageUrl]) VALUES (2, 1, N'Ho Hoan Kiem', NULL)
INSERT [dbo].[Attractions] ([AttractionID], [LocationID], [Name], [ImageUrl]) VALUES (3, 1, N'Pho 12 Pho Kim Ma', NULL)
SET IDENTITY_INSERT [dbo].[Attractions] OFF
GO
INSERT [dbo].[BookingAttractions] ([BookingID], [AttractionID]) VALUES (1, 5)
INSERT [dbo].[BookingAttractions] ([BookingID], [AttractionID]) VALUES (1, 6)
INSERT [dbo].[BookingAttractions] ([BookingID], [AttractionID]) VALUES (1, 7)
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [UserID], [TourID], [GuideID], [BookingDate], [TourDate], [NumberOfPeople], [TotalPrice], [Status], [CreatedAt], [TimeFrom], [TimeTo], [BidStatus], [IsDeleted]) VALUES (1, 1, 1, 3, CAST(N'2026-05-09T15:41:40.250' AS DateTime), CAST(N'2020-01-30' AS Date), 2, CAST(20.00 AS Decimal(10, 2)), N'Current', CAST(N'2026-05-09T15:41:40.250' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Bookings] ([BookingID], [UserID], [TourID], [GuideID], [BookingDate], [TourDate], [NumberOfPeople], [TotalPrice], [Status], [CreatedAt], [TimeFrom], [TimeTo], [BidStatus], [IsDeleted]) VALUES (2, 1, 2, 1, CAST(N'2026-05-09T15:41:40.250' AS DateTime), CAST(N'2020-02-02' AS Date), 2, CAST(15.00 AS Decimal(10, 2)), N'Next', CAST(N'2026-05-09T15:41:40.250' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Bookings] ([BookingID], [UserID], [TourID], [GuideID], [BookingDate], [TourDate], [NumberOfPeople], [TotalPrice], [Status], [CreatedAt], [TimeFrom], [TimeTo], [BidStatus], [IsDeleted]) VALUES (3, 1, 3, 1, CAST(N'2026-05-09T15:41:40.250' AS DateTime), CAST(N'2020-02-02' AS Date), 2, CAST(10.00 AS Decimal(10, 2)), N'Next', CAST(N'2026-05-09T15:41:40.250' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[GuideExperienceImages] ON 

INSERT [dbo].[GuideExperienceImages] ([ImageID], [ExperienceID], [ImageUrl], [ImagePosition], [SortOrder]) VALUES (1, 1, N'assets/images/chooseaguide/main/nhom1/hoian 1 (2).png', N'LEFT', 1)
INSERT [dbo].[GuideExperienceImages] ([ImageID], [ExperienceID], [ImageUrl], [ImagePosition], [SortOrder]) VALUES (2, 1, N'assets/images/chooseaguide/main/nhom1/hoianvietnam 1.png', N'TOP_RIGHT', 2)
INSERT [dbo].[GuideExperienceImages] ([ImageID], [ExperienceID], [ImageUrl], [ImagePosition], [SortOrder]) VALUES (3, 1, N'assets/images/chooseaguide/main/nhom1/da-nang-to-hoi-an 1.png', N'BOTTOM_RIGHT', 3)
SET IDENTITY_INSERT [dbo].[GuideExperienceImages] OFF
GO
SET IDENTITY_INSERT [dbo].[GuideExperiences] ON 

INSERT [dbo].[GuideExperiences] ([ExperienceID], [GuideID], [Title], [Location], [Date], [Likes], [IsLiked], [SortOrder], [CreatedAt]) VALUES (1, 1, N'2 Hour Bicycle Tour exploring Hoian', N'Hoian, Vietnam', CAST(N'2020-01-25' AS Date), 1234, 0, 1, CAST(N'2020-01-25T10:00:00.000' AS DateTime))
INSERT [dbo].[GuideExperiences] ([ExperienceID], [GuideID], [Title], [Location], [Date], [Likes], [IsLiked], [SortOrder], [CreatedAt]) VALUES (2, 1, N'Food tour in Danang', N'Danang, Vietnam', CAST(N'2020-01-20' AS Date), 234, 0, 2, CAST(N'2020-01-20T14:30:00.000' AS DateTime))
INSERT [dbo].[GuideExperiences] ([ExperienceID], [GuideID], [Title], [Location], [Date], [Likes], [IsLiked], [SortOrder], [CreatedAt]) VALUES (3, 2, N'Hanoi Old Quarter Night Walk', N'Hanoi, Vietnam', CAST(N'2020-02-10' AS Date), 892, 0, 1, CAST(N'2020-02-10T18:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[GuideExperiences] OFF
GO
SET IDENTITY_INSERT [dbo].[GuideLanguages] ON 

INSERT [dbo].[GuideLanguages] ([LanguageID], [GuideID], [Language], [SortOrder]) VALUES (1, 1, N'Vietnamese', 1)
INSERT [dbo].[GuideLanguages] ([LanguageID], [GuideID], [Language], [SortOrder]) VALUES (2, 1, N'English', 2)
INSERT [dbo].[GuideLanguages] ([LanguageID], [GuideID], [Language], [SortOrder]) VALUES (3, 1, N'Mandarin', 3)
SET IDENTITY_INSERT [dbo].[GuideLanguages] OFF
GO
SET IDENTITY_INSERT [dbo].[GuidePricing] ON 

INSERT [dbo].[GuidePricing] ([PricingID], [GuideID], [GroupLabel], [Price], [Currency], [SortOrder]) VALUES (1, 1, N'1 - 3 Travelers', CAST(10.00 AS Decimal(10, 2)), N'USD', 1)
INSERT [dbo].[GuidePricing] ([PricingID], [GuideID], [GroupLabel], [Price], [Currency], [SortOrder]) VALUES (2, 1, N'4 - 6 Travelers', CAST(14.00 AS Decimal(10, 2)), N'USD', 2)
INSERT [dbo].[GuidePricing] ([PricingID], [GuideID], [GroupLabel], [Price], [Currency], [SortOrder]) VALUES (3, 1, N'7 - 9 Travelers', CAST(17.00 AS Decimal(10, 2)), N'USD', 3)
SET IDENTITY_INSERT [dbo].[GuidePricing] OFF
GO
SET IDENTITY_INSERT [dbo].[GuideReviews] ON 

INSERT [dbo].[GuideReviews] ([ReviewID], [GuideID], [Name], [Date], [Rating], [Comment], [AvatarUrl], [SortOrder], [CreatedAt], [UserID]) VALUES (2, 1, N'Daehyun', CAST(N'2020-01-22' AS Date), CAST(4.0 AS Decimal(3, 1)), N'Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ''lorem ipsum''', N'assets/images/chooseaguide/main/reviews/Ellipse 11 (1).png', 2, CAST(N'2020-01-22T11:45:00.000' AS DateTime), NULL)
INSERT [dbo].[GuideReviews] ([ReviewID], [GuideID], [Name], [Date], [Rating], [Comment], [AvatarUrl], [SortOrder], [CreatedAt], [UserID]) VALUES (3, 1, N'Burns Marks', CAST(N'2020-01-22' AS Date), CAST(4.0 AS Decimal(3, 1)), N'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don''t look even slightly believable.', N'assets/images/chooseaguide/main/reviews/Ellipse 11 (2).png', 3, CAST(N'2020-01-22T13:15:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[GuideReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Guides] ON 

SET IDENTITY_INSERT [dbo].[Guides] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationID], [City], [Country], [Latitude], [Longitude]) VALUES (1, N'Hanoi', N'Vietnam', CAST(21.0285000 AS Decimal(10, 7)), CAST(105.8542000 AS Decimal(10, 7)))
INSERT [dbo].[Locations] ([LocationID], [City], [Country], [Latitude], [Longitude]) VALUES (2, N'Da Nang', N'Vietnam', CAST(16.0544000 AS Decimal(10, 7)), CAST(108.2022000 AS Decimal(10, 7)))
INSERT [dbo].[Locations] ([LocationID], [City], [Country], [Latitude], [Longitude]) VALUES (3, N'Ho Chi Minh', N'Vietnam', CAST(10.8231000 AS Decimal(10, 7)), CAST(106.6297000 AS Decimal(10, 7)))
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentMethod], [Status], [TransactionID], [PaidAt], [CreatedAt], [CardHolder], [CardNumber], [PaidAmount]) VALUES (1, 1, CAST(20.00 AS Decimal(10, 2)), N'CreditCard', N'Paid', N'TXN-2020-001', CAST(N'2020-01-28T09:00:00.000' AS DateTime), CAST(N'2026-05-09T15:42:03.857' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentMethod], [Status], [TransactionID], [PaidAt], [CreatedAt], [CardHolder], [CardNumber], [PaidAmount]) VALUES (2, 2, CAST(15.00 AS Decimal(10, 2)), N'CreditCard', N'Pending', NULL, NULL, CAST(N'2026-05-09T15:42:03.857' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentMethod], [Status], [TransactionID], [PaidAt], [CreatedAt], [CardHolder], [CardNumber], [PaidAmount]) VALUES (3, 5, CAST(12.00 AS Decimal(10, 2)), N'CreditCard', N'Paid', N'TXN-2020-002', CAST(N'2020-01-30T10:00:00.000' AS DateTime), CAST(N'2026-05-09T15:42:03.857' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[TourImages] ON 

INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (1, 4, N'assets/images/tours/phuquoc_1.png', 1)
INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (2, 4, N'assets/images/tours/phuquoc_2.png', 2)
INSERT [dbo].[TourImages] ([ImageID], [TourID], [ImageUrl], [SortOrder]) VALUES (3, 4, N'assets/images/tours/phuquoc_3.png', 3)
SET IDENTITY_INSERT [dbo].[TourImages] OFF
GO
SET IDENTITY_INSERT [dbo].[TourPricing] ON 

INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (1, 1, N'Adult (>10 years old)', CAST(400.00 AS Decimal(10, 2)), 0, 1)
INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (2, 1, N'Child (5 - 10 years old)', CAST(320.00 AS Decimal(10, 2)), 0, 2)
INSERT [dbo].[TourPricing] ([PricingID], [TourID], [Label], [Price], [IsFree], [SortOrder]) VALUES (3, 1, N'Child (<5 years old)', CAST(0.00 AS Decimal(10, 2)), 1, 3)
SET IDENTITY_INSERT [dbo].[TourPricing] OFF
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[TourScheduleItems] ON 

INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (1, 1, N'6:00AM', N'Khởi hành từ TP.HCM đến Đà Nẵng', 1)
INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (2, 1, N'10:00AM', N'Tham quan Bà Nà Hills', 2)
INSERT [dbo].[TourScheduleItems] ([ItemID], [ScheduleID], [TimeSlot], [Description], [SortOrder]) VALUES (3, 1, N'1:00PM', N'Ăn trưa và nghỉ ngơi', 3)
SET IDENTITY_INSERT [dbo].[TourScheduleItems] OFF
GO
SET IDENTITY_INSERT [dbo].[TourSchedules] ON 

INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (1, 1, 1, N'Ho Chi Minh - Da Nang', 0)
INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (2, 1, 2, N'Da Nang - Hoi An', 0)
INSERT [dbo].[TourSchedules] ([ScheduleID], [TourID], [DayNumber], [RouteLabel], [SortOrder]) VALUES (3, 4, 1, N'Ho Chi Minh - Phu Quoc', 0)
SET IDENTITY_INSERT [dbo].[TourSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[travel_news] ON 

INSERT [dbo].[travel_news] ([id], [title], [publish_date], [image_url], [summary], [view_count], [is_featured], [created_at], [is_deleted]) VALUES (1, N'New Destination in Danang City', CAST(N'2020-02-05' AS Date), N'assets/images/explore/TravelNews/danang1.png', N'Khám phá điểm đến mới tuyệt đẹp ở Đà Nẵng với kiến trúc hiện đại và cảnh quan tuyệt vời.', 1250, 1, CAST(N'2026-05-04T16:31:21.687' AS DateTime), 0)
INSERT [dbo].[travel_news] ([id], [title], [publish_date], [image_url], [summary], [view_count], [is_featured], [created_at], [is_deleted]) VALUES (2, N'$1 Flight Ticket', CAST(N'2020-02-05' AS Date), N'assets/images/explore/TravelNews/flight1.png', N'Cơ hội vàng với giá vé máy bay chỉ 1 USD cho các chuyến bay nội địa. Đừng bỏ lỡ!', 2840, 1, CAST(N'2026-05-04T16:31:21.687' AS DateTime), 0)
INSERT [dbo].[travel_news] ([id], [title], [publish_date], [image_url], [summary], [view_count], [is_featured], [created_at], [is_deleted]) VALUES (3, N'Visit Korea in this Tet Holiday', CAST(N'2020-01-26' AS Date), N'assets/images/explore/TravelNews/korea1.png', N'Hành trình khám phá Hàn Quốc trong dịp Tết Nguyên Đán với những trải nghiệm độc đáo.', 1560, 1, CAST(N'2026-05-04T16:31:21.687' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[travel_news] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [FirstName], [LastName], [Email], [Password], [Role], [Country]) VALUES (1, N'a', N'a', N'a', N'a', N'Traveler', N'a')
INSERT [dbo].[Users] ([id], [FirstName], [LastName], [Email], [Password], [Role], [Country]) VALUES (2, N'v', N'v', N'v', N'v', N'Traveler', N'v')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserFavorites]    Script Date: 09/05/2026 3:56:37 CH ******/
ALTER TABLE [dbo].[UserFavorites] ADD  CONSTRAINT [UQ_UserFavorites] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ItemType] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserLikes]    Script Date: 09/05/2026 3:56:37 CH ******/
ALTER TABLE [dbo].[UserLikes] ADD  CONSTRAINT [UQ_UserLikes] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ExperienceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105344D313358]    Script Date: 09/05/2026 3:56:37 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[GuideExperienceImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[GuideExperiences] ADD  DEFAULT ((0)) FOR [Likes]
GO
ALTER TABLE [dbo].[GuideExperiences] ADD  DEFAULT ((0)) FOR [IsLiked]
GO
ALTER TABLE [dbo].[GuideExperiences] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[GuideExperiences] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GuideLanguages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[GuidePricing] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[GuidePricing] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[GuideReviews] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[GuideReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Guides] ADD  DEFAULT ((0)) FOR [Reviews]
GO
ALTER TABLE [dbo].[Guides] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Guides] ADD  DEFAULT ((0)) FOR [TotalLikes]
GO
ALTER TABLE [dbo].[Guides] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Guides] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Guides] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Offers] ADD  DEFAULT ((0)) FOR [IsChosen]
GO
ALTER TABLE [dbo].[Offers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TourImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TourPricing] ADD  DEFAULT ((0)) FOR [IsFree]
GO
ALTER TABLE [dbo].[TourPricing] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TourReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [TotalLikes]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [TotalReviews]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TourScheduleItems] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TourSchedules] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[travel_news] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[travel_news] ADD  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[travel_news] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[travel_news] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[UserFavorites] ADD  DEFAULT (getdate()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[UserLikes] ADD  DEFAULT (getdate()) FOR [LikedAt]
GO
ALTER TABLE [dbo].[Attractions]  WITH CHECK ADD  CONSTRAINT [FK_Attractions_Locations] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Attractions] CHECK CONSTRAINT [FK_Attractions_Locations]
GO
ALTER TABLE [dbo].[BookingAttractions]  WITH CHECK ADD  CONSTRAINT [FK_BA_Attractions] FOREIGN KEY([AttractionID])
REFERENCES [dbo].[Attractions] ([AttractionID])
GO
ALTER TABLE [dbo].[BookingAttractions] CHECK CONSTRAINT [FK_BA_Attractions]
GO
ALTER TABLE [dbo].[BookingAttractions]  WITH CHECK ADD  CONSTRAINT [FK_BA_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingAttractions] CHECK CONSTRAINT [FK_BA_Bookings]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Guides] FOREIGN KEY([GuideID])
REFERENCES [dbo].[Guides] ([GuideID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Guides]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Tours] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Tours]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[GuideExperienceImages]  WITH CHECK ADD  CONSTRAINT [FK_GuideExperienceImages_GuideExperiences] FOREIGN KEY([ExperienceID])
REFERENCES [dbo].[GuideExperiences] ([ExperienceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GuideExperienceImages] CHECK CONSTRAINT [FK_GuideExperienceImages_GuideExperiences]
GO
ALTER TABLE [dbo].[GuideExperiences]  WITH CHECK ADD  CONSTRAINT [FK_GuideExperiences_Guides] FOREIGN KEY([GuideID])
REFERENCES [dbo].[Guides] ([GuideID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GuideExperiences] CHECK CONSTRAINT [FK_GuideExperiences_Guides]
GO
ALTER TABLE [dbo].[GuideLanguages]  WITH CHECK ADD  CONSTRAINT [FK_GuideLanguages_Guides] FOREIGN KEY([GuideID])
REFERENCES [dbo].[Guides] ([GuideID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GuideLanguages] CHECK CONSTRAINT [FK_GuideLanguages_Guides]
GO
ALTER TABLE [dbo].[GuidePricing]  WITH CHECK ADD  CONSTRAINT [FK_GuidePricing_Guides] FOREIGN KEY([GuideID])
REFERENCES [dbo].[Guides] ([GuideID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GuidePricing] CHECK CONSTRAINT [FK_GuidePricing_Guides]
GO
ALTER TABLE [dbo].[GuideReviews]  WITH CHECK ADD  CONSTRAINT [FK_GuideReviews_Guides] FOREIGN KEY([GuideID])
REFERENCES [dbo].[Guides] ([GuideID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GuideReviews] CHECK CONSTRAINT [FK_GuideReviews_Guides]
GO
ALTER TABLE [dbo].[GuideReviews]  WITH CHECK ADD  CONSTRAINT [FK_GuideReviews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GuideReviews] CHECK CONSTRAINT [FK_GuideReviews_Users]
GO
ALTER TABLE [dbo].[Guides]  WITH CHECK ADD  CONSTRAINT [FK_Guides_Locations] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Guides] CHECK CONSTRAINT [FK_Guides_Locations]
GO
ALTER TABLE [dbo].[Guides]  WITH CHECK ADD  CONSTRAINT [FK_Guides_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Guides] CHECK CONSTRAINT [FK_Guides_Users]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Bookings]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Guides] FOREIGN KEY([GuideID])
REFERENCES [dbo].[Guides] ([GuideID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Guides]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings]
GO
ALTER TABLE [dbo].[TourImages]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourPricing]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourReviews]  WITH CHECK ADD  CONSTRAINT [FK_TourReviews_Tours] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourReviews] CHECK CONSTRAINT [FK_TourReviews_Tours]
GO
ALTER TABLE [dbo].[TourReviews]  WITH CHECK ADD  CONSTRAINT [FK_TourReviews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourReviews] CHECK CONSTRAINT [FK_TourReviews_Users]
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [FK_Tours_Guides] FOREIGN KEY([GuideID])
REFERENCES [dbo].[Guides] ([GuideID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [FK_Tours_Guides]
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [FK_Tours_Locations] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [FK_Tours_Locations]
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [FK_Tours_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [FK_Tours_Users]
GO
ALTER TABLE [dbo].[TourScheduleItems]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[TourSchedules] ([ScheduleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourSchedules]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[travel_news_detail]  WITH CHECK ADD FOREIGN KEY([news_id])
REFERENCES [dbo].[travel_news] ([id])
GO
ALTER TABLE [dbo].[UserFavorites]  WITH CHECK ADD  CONSTRAINT [FK_UserFavorites_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFavorites] CHECK CONSTRAINT [FK_UserFavorites_Users]
GO
ALTER TABLE [dbo].[UserLikes]  WITH CHECK ADD  CONSTRAINT [FK_UserLikes_Experiences] FOREIGN KEY([ExperienceID])
REFERENCES [dbo].[GuideExperiences] ([ExperienceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLikes] CHECK CONSTRAINT [FK_UserLikes_Experiences]
GO
ALTER TABLE [dbo].[UserLikes]  WITH CHECK ADD  CONSTRAINT [FK_UserLikes_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLikes] CHECK CONSTRAINT [FK_UserLikes_Users]
GO
